[submodule "services/popo"]
	path = services/popo
	url = https://github.com/opendatalab/MinerU-Popo.git
[submodule "services/docs-core/src/popo"]
	path = services/docs-core/src/popo
	url = https://github.com/opendatalab/MinerU-Popo.git
